sudo: false
language: generic
git:
    depth: 3

matrix:
    include:
        - os: osx
        - os: linux
          dist: trusty
          python: "3.6"
        - os: windows
          language: shell

addons:
    apt:
        packages:
            - python3
            - python3-pip

before_install:
    - if [[ $TRAVIS_OS_NAME == 'osx' ]]; then export PATH="$HOME/Library/Python/3.6/bin:$PATH"; fi
    - if [[ $TRAVIS_OS_NAME == 'linux' ]]; then sudo apt-get update && sudo apt-get install python3-dev; fi
    - if [[ "$TRAVIS_OS_NAME" != "windows" ]]; then
        pip3 install --user setuptools --upgrade;
        pip3 install --user vim-vint typing;
      elif  [[ "$TRAVIS_OS_NAME" == "windows" ]]; then
        powershell -Command "Set-ExecutionPolicy RemoteSigned -scope CurrentUser";
        powershell -Command "iex (new-object net.webclient).downloadstring('https://get.scoop.sh')";
        export PATH="$HOME/scoop/shims:$PATH;"; 
        export PATH="$APPDATA/Python/Python37/Scripts:$PATH;";
        powershell -Command "scoop install python";
        python3 -m pip install --user vim-vint typing;
      fi

before_script:
    - uname -a
    - which -a vim
    - which -a python
    - vim --version

script:
    - vint autoload ftplugin plugin
